body{
    display: flex;
    margin: auto;
}

.container{
    background-color: #ffff;
    padding: 10px;
    margin-top: 100px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
img{
    align-content: center;
    align-items: center;
}